@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$HeadingFontSize: 46px;
$HeadingTextColor: hsl(229, 31%, 21%);
$ParaTextColor: hsl(229, 8%, 60%);
$ParaFontSize: 18px;
$FontFamily: 'Rubik', sans-serif;
$TextMarginBottom: 1.5em;
$SoftRed:hsl(0, 94%, 66%) ;
$SoftBlue:hsl(231, 69%, 60%);
$Padding: 4em 8em; 

@mixin RedBtn {
    background-color: hsl(0, 94%, 66%) ;
    color: white;
    padding: .5em 1.5em;
    border-radius: 5px;
}
@mixin Btn {
    color: white ;
    background-color: hsl(231, 69%, 60%);
    padding: 1em 2.5em;
    border: none;
    border-radius: 5px;
    margin-right: .4em;
    transition: .2s ease-in;
    &:hover {
        border: 2px solid $SoftBlue;
        color: $SoftBlue;
        background-color: white;
        cursor: pointer;
    }
}
@mixin Content {
    width: 45%;
    text-align: center;
    margin-bottom: 1em;
    margin: 0 auto;


}

a {
    text-decoration: none;
    color: $HeadingTextColor;
}
.nav-btn a {
    color: white;
    &:hover {
        color: $HeadingTextColor;
    }
}
p {
    font-size: $ParaFontSize;
    color: $ParaTextColor;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $FontFamily;
    scroll-behavior: smooth;

}


// <!-- =============   NAVBAR STYLING ============= -->  //  


nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: $Padding;

    .menu {
        display: none;
    }
    .nav-link {
        display: flex;
        align-items: center;
        margin-top: -1em;
        justify-content: space-between;
        font-size: $ParaFontSize;
        color: $ParaTextColor;
        width: 30%;
    }
    .nav-item:hover {
        color: $SoftRed;
        cursor: pointer;
    }
    .nav-btn {
        @include RedBtn();
        transition: .2s ease-in;

       &:hover {
          border:2px solid $SoftRed;
          background-color: white;
          cursor: pointer;
          color: $SoftRed;
       } 
    }
}


// <!-- =============   LANDING PAGE STYLING ============= -->  //  


.landing-page {
    display: flex;
    justify-content: space-between;
    padding: 8em;



    .landing-content {
        @include Content();
        text-align: left;

    }
    h1 {
        font-size: $HeadingFontSize;
        margin-bottom: .5em;
    }
    p {
        margin-bottom: $TextMarginBottom;
    }

    button {
        @include Btn()
    }
    .landingPage-btn {
        background-color: rgb(224, 222, 222);
        color: $HeadingTextColor;
    }

    .landing-img {
        margin-top: -7em;
    }
}




// <!-- =============   FEATURES STYLING  ============= -->  //  

.features {
    @include Content();

     h1 {
         padding-bottom:1em ;
    }
    p {
        padding-bottom: 4em;
    }
}


.features-items {
    display: flex;
    justify-content: center;
    gap: 4em;

    p {
        border-bottom: 3px solid $SoftRed;
    }
}


.features-detail {

    @extend .landing-page;
    flex-direction: row-reverse;

    .features-detail-content {
        @extend .landing-content;
        margin-top: 4em;
      }

}

// <!-- =============   DOWNLOAD SECTION CONTENT  ============= -->  //  


.downlaod-section-content {
    @include Content();

    h1 {
        padding-bottom: 2em;
    }
}

// <!-- =============   DOWNLOAD SECTION CARDS  ============= -->  //  

.download-section-cards {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 5em;
    margin-bottom: 8em;


.card {
    text-align: center;
    width: 300px;
    padding: 2em;
    background-color: #f5f5f5;
    box-shadow: 20px 20px 35px #d0d0d0 -20px -20px 35px #ffff;

    img {
        margin-bottom: 1.5em;
    }
     h3 {
        margin-bottom: .5em;
    }
    p {
        margin-bottom: 3em;
    }
    button {
        @include Btn()
    }
}
.fox-card {
    margin-top: 2em;
}

.opera-card {
    margin-top: 4em;
}
}
// <!-- =============   FAQ's SECTION  ============= -->  //  

.faqs {
    @include Content();

    h1 {
        padding-bottom: 1em;
    }
    p {
        padding-bottom: 2em;
    }
}

.faqs-content {
    width: 100%;
    .content {
        margin: 2em auto;
        width: 40%;
        padding: 2em;

        details {
            font-size: 1.5em;
            padding: .5em;
            transition: .2s ease-in;

            p {
                padding: 1em;
            }
        }

    }
    button {
        @include Btn();
        margin-top: 2em;
    }
}




// <!-- =============   CONTACT US   ============= -->  //  

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50vh;
    background-color: $SoftBlue;
    color: white;
   
    p {
        padding-top: 4em;
        color: white;
        letter-spacing: 7px;
        font-weight: 400;
        font-size: 11px;
    }
    h2 {
        padding-top: 2em;
        padding-bottom: 1em;
        font-size: 2em;
    }
    input {
        padding: 1em 3em;
        border-radius: 5px;
        border: none;
        margin-right: .3em;
    }
    button {
        @include Btn();
        background-color: $SoftRed;
        padding: 1em;

        &:hover {
            background-color: white;
            border: 2px solid $SoftRed;
            color: $SoftRed;
        }
        
    }
    
}


// <!-- =============   FOOOTER  ============= -->  //  


footer {
    @extend nav;
    color: white;
    background-color: $HeadingTextColor;
    .quick-links {
        display: flex;
        gap: 24px;
        align-items: center;
    }
    .quick-nav {
        display: flex;
        flex-direction: row;
        gap: 24px;
        transition: .2s;
        quick-link:hover {
            color: $SoftRed;
            cursor: pointer;
        }
    }
    .icons {
        display: flex;
        gap: 24px;
    }
}




@media (max-width:1024px) {
    .landing-img {
        display: flex;
        justify-content: center;
    }
    .landing-img img,.features-img img {
        width: 600px;
    }
}

@media (max-width:800px) {
    
    nav {
        padding: 2em 4em;
        align-items: center;
       .nav-link {
        display: none;
        transition: 3s ease-out;
        right: 100%;

        
       }
        .active {
            display: initial;
            position: absolute;
            background-color: $HeadingTextColor;
            color: white;
            width: 50%;
            right: 0;
            height: 100%;
            text-align: center;
            top: 1em;
            opacity: .9;
            border-radius: 10px;
                   
            .nav-item:nth-child(1) {
                font-size: 1.5em;
                margin-top: 2em;
                padding: .7em;
            }
            .nav-item {
                font-size: 1.5em;
                padding: .7em;
            }
            .nav-btn {
                margin-left:auto;
                margin-right:auto;
                font-size: 1.5em;
                width: 80%;
                background-color: $HeadingTextColor;
                border: 1px solid white;
                font-weight: bold;
            }
        }

        .menu {
            position: absolute;
            display: initial;
            z-index: 1;
            top: 1.5em;
            background-color: white;
            right: 1em;
            
        }
    }

    .landing-page {
        flex-direction: column-reverse;
        padding: 1em;

        .landing-content {
            text-align: center;
            width: 80%;
        }
        .landing-img {
            margin: 2em;
        }
    }

    .features {
        margin: 4em auto;
      
        p {
            padding-bottom: 0;
        }
    }
    .features-detail {
        padding: 0;
        margin-top: 2em;
    
    .features-detail-content {
        h1 {
            padding-bottom: 1em;
        }
        p {
            padding-bottom: 1em;
        }
    }
    .features-img {
        display: flex;
        justify-content: center;
    }
  }
    .download-section-cards {
      flex-direction: column;
      align-items: center;
    }
    .faqs-content {

    
    .content {
        width: 80%;
    }
  }
  footer {
    width: 100%;
  }
}




@media (max-width:425px) {
     
    .landing-img img , .features-img img {
        width: 400px;
    }
    nav {
   .menu {
    top:5%;
    right: 10%;
   }
      .active {
        width: 100%;
      }
    }

    .menu {
        display: block;
    }
    .contact-us {
        h2 {
            font-size: 1.4em;
        }
    }
    footer {
            flex-direction: column;
            
            .quick-links {
                flex-direction: column;
            } 
            .quick-nav {
                flex-direction: column;
                gap: 10px;
                padding-bottom: 2em;
            }
            .footer-logo {
                display: none;
            }
         p  {
            font-size :1em;
        }
    }
}










